<div class="footer4 b-t spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Address</h5>
                <p>71 Amsteroum Avenue Cronish Night, NY 35098</p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Phone</h5>
                <p>Reception : +205 123 4567 <br />
                    Office : +207 235 7890</p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Email</h5>
                <p>Office : <a routerLink="#" class="link">info@wrappixel.com</a> <br />Site : <a routerLink="#"
                        class="link">wrapkit@wrappixel.com</a></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="m-b-20">Social</h5>
                <div class="round-social light">
                    <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="f4-bottom-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex font-14">
                        <div class="m-t-10 m-b-10 copyright">All Rights Reserved by WrapPixel.</div>
                        <div class="links ml-auto m-t-10 m-b-10">
                            <a routerLink="#" class="p-10 p-l-0">Terms of Use</a>
                            <a routerLink="#" class="p-10">Legal Disclaimer</a>
                            <a routerLink="#" class="p-10">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
