<div class="banner-innerpage" style="background-image:url(assets/images/landingpage/banner-bg2.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-9 col-md-6 align-self-center text-center">
                <h1 class="title">BLOG DETAIL PAGE</h1>
                <h5 class="subtitle op-5">We are Small Team of Creative People working together</h5>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<!-- Row  -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Blog  -->

            <span *ngIf='service.loginStatusService'>
                <span *ngIf='service.showEdit' (click)='editPost()'>
                    <button type="button" class="btn bg-info mt-4">
                        Edit Post
                    </button>
                </span>
            </span>

            <div class="mini-spacer">
                <img [src]="blogDetail?.image" alt="wrapkit" class="img-fluid" />
                <ul class="text-uppercase m-t-40 list-inline font-13 font-medium">
                    <li><a routerLink="">John Deo</a></li>
                    <li><a routerLink="">{{blogDetail?.blogDate}} </a></li>
                    <li><a routerLink="" class="text-info">NEWS</a></li>
                </ul>
                <h2 class="title font-light">
                    {{blogDetail?.heading}}
                </h2>
                <p class="m-t-30 m-b-30">
                    {{blogDetail?.subHeading}}
                </p>
                <p class="m-t-30 m-b-30">
                    {{blogDetail?.blogDetail}}
                </p>

                <div class="m-t-30">
                    <button type="button" class="btn bg-facebook btn-rounded mr-3">
                        <i class="fa fa-facebook"></i> Facebook
                    </button>
                    <button type="button" class="btn bg-twitter btn-rounded">
                        <i class="fa fa-twitter"></i> Twitter
                    </button>
                </div>
            </div>
            <!-- Blog  -->
            <hr class="op-5" />
        </div>
    </div>
    <!-- Row  -->