<div class="banner-innerpage" style="background-image:url(assets/images/landingpage/banner-bg2.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
                <h1 class="title">NEW BLOG</h1>
                <h5 class="subtitle op-5">We are Small Team of Creative People working together</h5>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>



<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-8 no-trans">

            <form #post='ngForm' (ngSubmit)="submit(post)">
                <div class="form-group">
                    <label>Heading :</label>
                    <input type="text" required class="form-control" placeholder="Post heading"
                        [class.is-invalid]='heading.invalid && heading.touched' name='heading' #heading='ngModel'
                        ngModel>
                </div>
                <div class="form-group">
                    <label>Sub Heading :</label>
                    <input type="text" required class="form-control" placeholder="Post subheading"
                        [class.is-invalid]='subheading.invalid && subheading.touched' name='subheading'
                        #subheading='ngModel' ngModel>
                </div>
                <div class="form-group">
                    <label>Image :</label>
                    <input type="file" class="form-control" (change)='preview(filevar.files)' #filevar>
                </div>
                <div class="form-group">
                    <label>Comment :</label>
                    <textarea required class="form-control" rows="5" placeholder="Post body text"
                        [class.is-invalid]='textBody.invalid && textBody.touched' name='textBody' #textBody='ngModel'
                        ngModel>
                                    </textarea>
                </div>
                <button type="submit" class="btn btn-info-gradiant btn-block" [disabled]='post.invalid'>Create
                    Post</button>
            </form>
            <hr class="op-5" />
        </div>
    </div>
</div>